<div class="container">
    <h2><strong><%= current_user.full_name %></strong></h2>
      <div class="buttons">
        <%= link_to "Add Avatar", edit_user_registration_path, class: "bth btn-success" %>
      </div>
      <div class="buttons">
        <%= link_to "Add Current Work Experience and Bio", edit_user_registration_path, class: "bth btn-success" %>
      </div>
      <div class="buttons">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "bth btn-success" %>
      </div>
</div>