
<h1>Posts</h1>


    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <strong><%= link_to post.title, post_path(post)  %></strong>
          <%= simple_format post.content %>
        </div>
      </div>
    <% end %>
  