<div class="card">
  <div class="card-body">
    <h2><%= @post.title %></h2>
    <p><%= simple_format @post.content %></p>
    <strong><p>Comments</p></strong>
    <% @comments.each do |comment| %>
    <p><%= simple_format comment.content %></p>
    <% end %>
    <%= link_to "Comment", new_post_comment_path(@post), class: "btn btn-primary" %>
  </div>
</div>



